/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	margin: 0% 20%;
	border: 1px solid blue;
}

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	/* border: 2px solid blue; */
}

.navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 20px;
	/* border: 2px dashed green; */
}

.anchor {
	display: flex;
	justify-content: space-evenly;
	width: 900px;
	color: grey;
	/* border: 1px solid red; */
}
h1 {
	font-size: 64px;
	display:flex;
	padding: 20%;
	text-align: center;
	/* border: 1px dashed red; */
}

.cta-text {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: 100px;
	/* border: 2px solid grey; */

}

.cta {
	display:flex;
	width: 100%;
	/* border: 1px solid grey; */
}

button {
	display: flex;
	justify-content: center;
	width: 30%;
	font-size: 14px;
	padding: 6px;
	border: 1px solid black;
}

.code-circle {
	display: flex;
	padding: 60px;
	/* border: 2px solid teal; */
}

h4 {
	font-size: 20px;
}

.main-content {
	display: flex;
	flex-direction: column;
	width: 60%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	/* border: 1px solid purple; */
}

.top-content {
	display: flex;
	padding: 40px;
	width: 100%;
	/* border: 1px solid teal; */
}

.middle-img {
	display: flex;
	padding: 40px;
	width: 80%;
	/* border: 4px solid yellow; */
}
.bottom-content {
	display: flex;
	padding: 40px;
}

.text-content {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	width: 48%;
	/* border: 1px solid yellow; */
}

.contact {
	width: 60%;
	padding: 40px;
}

footer {
	display:flex;
	justify-content: center;
	width: 60%;
	/* border: 1px solid red; */
}

/* Services Page Styling */

.services-header-img {
	margin: 20px;
	width: 100%;
	border: 1px solid red;
}

.services-cta {
	width: 50%;
	padding: 10px;
}

.services-ctatext {
	padding: 15px;
}

.learn-button {
	width: 180px;
	height: 40px;
	margin: 10px;
	border-radius: 5px;
}

.services-content {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 40px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	border: 1px solid green;

}

.services-text {
	background-color: gainsboro;
	border: 1px solid black;
	margin: 20px;
	width: 40%;
	padding: 15px;
}

.service-facts {
	width: 50%;
	height: 400px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.facts-text {
	width: 50%;
}

.services-list {
	padding: 20px;
}

.services-info-img {
	width: 50%;
}